@charset "UTF-8";/*!
Theme Name: Portfolio 3
Theme URI: http://underscores.me/
Author: Sebastián Romero
Author URI: http://www.sebastianromerog.com
Description: Description
Version: 3.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: portfolio-3
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Portfolio 3 is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/figure,img{margin:0}img,legend{border:0}body,sub,sup{vertical-align:baseline}legend,ol,td,th,ul{padding:0}.flex-container a:focus,.flex-container a:hover,.flex-slider a:focus,.flex-slider a:hover,a:active,a:hover{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}abbr[title]{border-bottom:1px dotted}dfn{font-style:italic}mark{background:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}img{max-width:100%}svg:not(:root){overflow:hidden}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}.entrada__contenido,.entrada__contenido--blog,.flex-control-thumbs,.flex-pauseplay a,.modulo-social,.seccion{overflow:hidden}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box;font-size:22px}.h1,.h2,.h3,.h4,.h5,.h6,body,h1,h2,h3,h4,h5,h6{font-family:Roboto,monospaced,Helvetica,Arial,sans-serif}*,::after,::before{box-sizing:inherit}::-moz-selection{background:#dc291e;color:#FFF}::selection{background:#dc291e;color:#FFF}.entrada__cover,.slider__item{background-repeat:no-repeat;background-size:cover}body{-webkit-font-feature-settings:"kern","liga","pnum";-moz-font-feature-settings:"kern","liga","pnum";-ms-font-feature-settings:"kern","liga","pnum";font-feature-settings:"kern","liga","pnum";-webkit-font-smoothing:antialiased;color:#333;line-height:31px;font-size:22px;font-size:1rem;font-weight:300;word-wrap:break-word;overflow-x:hidden;letter-spacing:-.012em;text-rendering:optimizeLegibility}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-size:22px;font-size:1rem;font-weight:300;margin:0}b,cite,strong{font-weight:500}ol,ul{list-style:none}:visited,a:link{color:#AEAEAE;text-decoration:none;-webkit-transition:color .2s ease-in-out;transition:color .2s ease-in-out}:visited:active,:visited:focus,:visited:hover,a:link:active,a:link:focus,a:link:hover{text-decoration:none;color:#dc291e;-webkit-transition:color .2s ease-in-out;transition:color .2s ease-in-out;outline:0}.sitio__header,.sitio__nav div ul li{-webkit-transition:all .2s ease-in-out}hr{box-sizing:content-box;height:0;border-bottom:1px solid #f6f6f6;border-left:none;border-right:none;border-top:none;margin:31px 0}p{margin:0 0 1rem}cite{font-style:normal}cite:before{content:"\2014"}.small,.wp-caption .wp-caption-text,small{font-size:14px;font-size:.66rem;line-height:1.2}.pseudo-link{display:block;position:absolute;top:0;bottom:0;left:0;right:0;z-index:999;border:0!important}.clear:after,.clear:before,.nav-categorias:after,.nav-categorias:before{content:' ';display:block;clear:both;float:none}body,html{min-width:100%;min-height:100%;margin:0 auto}.contenedor,.seccion,.sitio__footer,.slider__wrap{max-width:1544px;margin-left:auto;margin-right:auto}.seccion{padding:31px 1rem;display:block;clear:both;float:none;max-width:70.18182rem}.sitio__nombre,.sitio__nombre--short{padding:0;line-height:inherit;float:left}.seccion::after{clear:both;content:"";display:table}.contenedor,.sitio__footer,.slider__wrap{max-width:70.18182rem;padding:0 1rem}.entrada__contenido figure,.entrada__contenido--blog figure{width:100%!important;max-width:100%}.contenedor::after,.sitio__footer::after,.slider__wrap::after{clear:both;content:"";display:table}.slider{position:relative;height:280px;height:80vh}.slider__wrap{position:relative;margin-top:-31px}@media screen and (min-height:640px){.slider{height:400px;height:80vh}}@media screen and (min-height:800px){.slider{height:600px;height:80vh}}.slider__item{height:100%;width:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-position:center;z-index:999}.slider__project-info{position:absolute;bottom:15%;width:100%;text-align:center;padding-right:1rem;padding-bottom:.5rem}.blog__archivo .entrada,.flexslider{position:relative}.slider__project-info h1{margin:0;color:#fff;font-size:88px;font-size:4rem;font-weight:500;line-height:.85;letter-spacing:-.05em}@media screen and (max-height:640px){.slider__project-info h1{font-size:2.5rem}}.slides{height:100%}.portada__cover{height:100%;width:100%}.portada__contenedor{position:relative;display:block;z-index:-1;width:100%;height:100%;margin:0;background-size:cover;background-position:center}@media only screen and (min-width:40.063em){.blog__archivo .entrada{float:left;display:block;margin-right:2.35765%;width:31.76157%;margin-bottom:0}.blog__archivo .entrada:last-child,.blog__archivo .entrada:nth-child(3n){margin-right:0}.blog__archivo .entrada:nth-child(3n+1){clear:left}.blog__archivo .entrada:hover{opacity:.85;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}}.blog__archivo .entrada__header{width:auto}.blog__archivo .entrada__titulo{padding-top:.5rem;min-height:93px;font-weight:300;width:auto;padding-bottom:0}.blog__archivo .entrada__contenido--blog{width:100%}.blog__archivo .entrada__cover{margin:0;width:100%;height:auto;padding-bottom:66.66%}.blog__archivo .entrada__meta{width:auto;padding:0}.blog__archivo .entrada__meta .tags-links{margin:0;display:inline-block}.blog__archivo .entrada__categoria{font-weight:500;text-transform:uppercase;letter-spacing:.06em}@media only screen and (min-width:64.063em){.pagina .entrada__contenido{padding-left:33.33%}}.contactos p{margin:0}blockquote{margin:0 auto}blockquote p{padding:0 31px;margin:31px 0;font-style:italic;font-weight:300}.tags__lista{padding:0;margin:0}.entrada{margin-bottom:62px}@media only screen and (min-width:64.063em){.entrada__header{padding-right:31px;width:33.33%;float:left}}.entrada__contenido .h1,.entrada__contenido .h2,.entrada__contenido .h3,.entrada__contenido .h4,.entrada__contenido .h5,.entrada__contenido .h6,.entrada__contenido h1,.entrada__contenido h2,.entrada__contenido h3,.entrada__contenido h4,.entrada__contenido h5,.entrada__contenido h6{font-weight:500;margin-top:62px;margin-bottom:31px}.entrada__contenido li,.entrada__contenido ol,.entrada__contenido ul{list-style:disc inside}.entrada__contenido li{margin-bottom:1rem}.entrada__contenido--blog .h1,.entrada__contenido--blog .h2,.entrada__contenido--blog .h3,.entrada__contenido--blog .h4,.entrada__contenido--blog .h5,.entrada__contenido--blog .h6,.entrada__contenido--blog h1,.entrada__contenido--blog h2,.entrada__contenido--blog h3,.entrada__contenido--blog h4,.entrada__contenido--blog h5,.entrada__contenido--blog h6{font-weight:500;margin-top:62px;margin-bottom:31px}.entrada__cover{padding-bottom:50vh;max-height:500px;background-position:center;margin-bottom:1rem;margin-top:-1rem}.entrada__titulo{font-weight:500;padding-bottom:1rem}.entrada__titulo a{color:#333}.entrada__meta{list-style-type:none;margin-bottom:31px}.entrada__categoria{font-weight:500;text-transform:uppercase;letter-spacing:.06em}.sitio__header{height:55px;height:2.5rem;margin-bottom:31px;transition:all .2s ease-in-out;line-height:55px;line-height:2.5rem;vertical-align:middle;width:100%;z-index:999999999;background-color:#fff}@media only screen and (max-width:40em){.sitio__header{height:auto;padding-bottom:31px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}}.sitio__header .wrap{padding:0 1rem;max-width:1544px;max-width:70.18182rem;margin-left:auto;margin-right:auto}.sitio__header .wrap::after{clear:both;content:"";display:table}.sitio__nombre{margin:0;visibility:hidden;display:none;font-weight:500}@media only screen and (min-width:40.063em){.sitio__nombre{visibility:visible;float:left;display:block;margin-right:2.35765%;width:48.82117%}.sitio__nombre:last-child{margin-right:0}}.sitio__nombre--short{font-weight:500;margin:0}.sitio__nombre a,.sitio__nombre--short a{color:#dc291e!important}@media only screen and (min-width:40.063em){.sitio__nombre--short{visibility:hidden;display:none}.sitio__nav{float:left;display:block;margin-right:2.35765%;width:48.82117%}.sitio__nav:last-child{margin-right:0}}.sitio__nav div ul{margin:0;padding:0;text-align:right}.sitio__nav div ul li{padding:0 0 0 .5rem;transition:all .2s ease-in-out;display:inline-block}.sitio__nav div ul li:first-child{padding-left:0}@media only screen and (min-width:40.063em){.sitio__nav div ul li{padding-left:1.2rem;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}}@media only screen and (max-width:40em){.sitio__nav div ul li{display:block;line-height:1.5rem;padding-top:.5rem}.sitio__nav div ul li li{padding:0}}.current-menu-item a{color:#333}.footer{margin-top:31px;padding:1rem}.footer__modulo{padding-bottom:31px}@media only screen and (min-width:40.063em){.footer__modulo{float:left;display:block;margin-right:2.35765%;width:31.76157%}.footer__modulo:last-child{margin-right:0}.footer__modulo--extendido{float:left;display:block;margin-right:2.35765%;width:65.88078%}.footer__modulo--extendido:last-child{margin-right:0}}.footer__modulo li,.footer__modulo ul{padding:0;margin:0}@font-face{font-family:flexslider-icon;src:url(fonts/flexslider-icon.eot);src:url(fonts/flexslider-icon.eot?#iefix)format('embedded-opentype'),url(fonts/flexslider-icon.woff)format('woff'),url(fonts/flexslider-icon.ttf)format('truetype'),url(fonts/flexslider-icon.svg#flexslider-icon)format('svg');font-weight:400;font-style:normal}.flex-control-nav,.flex-direction-nav,.slides,.slides>li{margin:0;padding:0;list-style:none}.flex-pauseplay span{text-transform:capitalize}.flexslider{padding:0;margin:0 0 60px;background:#fff;border:4px solid #fff;zoom:1;border-radius:4px;-o-box-shadow:'' 0 1px 4px rgba(0,0,0,.2);box-shadow:'' 0 1px 4px rgba(0,0,0,.2)}.grilla-portfolio__proyecto .proyecto__imagen,.modulo-social,.modulo-social__imagen{background-repeat:no-repeat;background-size:cover}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .flexslider .slides{display:block}* html .flexslider .slides{height:1%}.no-js .flexslider .slides>li:first-child{display:block}.flexslider .slides{zoom:1}.flexslider .slides img{width:100%;display:block;height:auto}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.carousel li{margin-right:5px}.flex-direction-nav a{text-decoration:none;display:block;width:40px;height:40px;margin:-20px 0 0;position:absolute;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:#fff;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.flex-direction-nav a:before{font-family:flexslider-icon;font-size:40px;display:inline-block;line-height:40px;content:'\f001';color:#fff}.flex-direction-nav a.flex-next:before{content:'\f002'}.flex-direction-nav .flex-prev{left:-50px}.flex-direction-nav .flex-next{text-align:right}.flexslider:hover .flex-direction-nav .flex-prev{opacity:.7;left:10px}.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1}.flexslider:hover .flex-direction-nav .flex-next{opacity:.7;right:10px}.flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default}.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:.8;z-index:10;cursor:pointer;color:#000}#instagram__imagen a,.current-cat>a,.grilla-portfolio__proyecto .proyecto__datos h1 a,.modulo-social__contenido a{color:#333}.flex-pauseplay a:before{font-family:flexslider-icon;font-size:20px;display:inline-block;content:'\f004'}.flex-pauseplay a:hover{opacity:1}.flex-pauseplay a .flex-play:before{content:'\f003'}.flex-control-nav{width:auto;position:absolute;bottom:1px;right:2px;vertical-align:middle;text-align:center;z-index:9999999}.flex-control-nav li{margin:0 6px;line-height:1;vertical-align:middle;display:inline-block;zoom:1}.flex-control-thumbs img,img{height:auto;display:block}.flex-control-paging li a{width:11px;height:11px;display:block;border:1px solid #fff;background-color:transparent;opacity:.5;cursor:pointer;text-indent:-9999px;border-radius:100%;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;box-shadow:0 0 3px #000}.flex-control-paging li a:hover{opacity:1;box-shadow:0 0 0 transparent}.flex-control-paging li a.flex-active{border:1px solid #fff;opacity:1;background-color:#fff;cursor:default}.flex-control-thumbs{margin:5px 0 0;position:static}.grilla-portfolio__proyecto,.modulo-social{position:relative}.flex-control-thumbs li{width:25%;float:left;margin:0}.flex-control-thumbs img{width:100%;opacity:.7;cursor:pointer;-webkit-transition:all 1s ease;transition:all 1s ease}.grilla-portfolio__proyecto,.grilla-portfolio__proyecto .proyecto,.grilla-portfolio__proyecto:hover,.modulo-social,.modulo-social:hover{transition:all .2s ease-in-out}.grilla-portfolio__proyecto,.grilla-portfolio__proyecto .proyecto,.grilla-portfolio__proyecto:hover,.modulo-social,.modulo-social:hover,.modulo-social__contenido--con-fondo{-webkit-transition:all .2s ease-in-out}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}}@media only screen and (min-width:40.063em){.grilla-portfolio__proyecto{float:left;display:block;margin-right:2.35765%;width:31.76157%;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.grilla-portfolio__proyecto:last-child,.grilla-portfolio__proyecto:nth-child(3n){margin-right:0}.grilla-portfolio__proyecto:nth-child(3n+1){clear:left}}.grilla-portfolio__proyecto:hover{opacity:.85}.grilla-portfolio__proyecto .proyecto__imagen{width:100%;padding-bottom:66.66%;background-position:center;background-color:#f6f6f6}.grilla-portfolio__proyecto .proyecto__datos{padding-top:.5rem;min-height:93px}.grilla-portfolio__proyecto .proyecto__datos h1,.grilla-portfolio__proyecto .proyecto__datos h2{margin:0}.wp-caption.aligncenter,.wp-caption.alignleft,.wp-caption.alignright,a img.aligncenter,a img.alignleft,a img.alignright,img.aligncenter,img.alignleft,img.alignright{margin-bottom:1rem}.todos-los-proyectos{text-align:center;width:100%;clear:both;padding-bottom:31px}@media only screen and (min-width:40.063em){.wp-caption.alignleft,.wp-caption.alignright,a img.alignleft,a img.alignright,img.alignleft,img.alignright{width:50%;float:left;outline:#fff solid 1rem}.wp-caption.aligncenter,a img.aligncenter,img.aligncenter{width:33.33%;float:left;outline:#fff solid 1rem}}.wp-caption.alignnone,a img.alignnone,img.alignnone{width:100%;margin-bottom:1rem}.wp-caption{color:#333;width:100%;max-width:100%}.wp-caption .wp-caption-text{text-align:center;font-weight:500;font-family:Roboto,monospaced,Helvetica,Arial,sans-serif}.wp-caption img{height:auto;width:100%;margin:0;padding:0}.nav-posteos{padding:62px 0}.nav-posteos__wrap{display:table;table-layout:fixed;width:100%}.nav-posteos__link{display:table-cell;width:50%}.nav-posteos__link--izquierda{text-align:left}.nav-posteos__link--derecha{text-align:right}.nav-categorias{padding-bottom:31px}@media only screen and (min-width:40.063em){.nav-categorias__listado li{padding-right:31px;float:left}}.modulos-sociales{background-color:#f6f6f6;padding:1rem 0}.modulo-social{border-radius:3px;background-color:#fff;padding-bottom:66.66%;background-position:center;margin-bottom:1rem}.modulo-social:hover{box-shadow:0 2px 4px 0 rgba(0,0,0,.3)}@media only screen and (min-width:40.063em)and (max-width:64em){.modulo-social{float:left;display:block;margin-right:2.35765%;width:48.82117%;padding-bottom:48%}.modulo-social:last-child,.modulo-social:nth-child(2n){margin-right:0}.modulo-social:nth-child(2n+1){clear:left}}@media only screen and (min-width:64.063em){.modulo-social{margin-bottom:0;padding-bottom:31.8%;position:relative;overflow:hidden;float:left;display:block;margin-right:2.35765%;width:31.76157%;background-repeat:no-repeat;background-size:cover;background-position:center}.modulo-social:last-child{margin-right:0}}.modulo-social ul{padding:0;margin:0}.modulo-social__imagen{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center}#instagram__imagen,.modulo-social__contenido{padding:.5rem;position:absolute;top:0;left:0;right:0;bottom:0}.modulo-social__contenido--con-fondo{z-index:1;transition:all .2s ease-in-out;background:-webkit-linear-gradient(top,rgba(255,255,255,.9)0,rgba(255,255,255,0)75%);background:linear-gradient(to bottom,rgba(255,255,255,.9)0,rgba(255,255,255,0)75%)}@media only screen and (min-width:40.063em)and (max-width:64em){.modulo-social--twitter{float:left;display:block;margin-right:2.35765%;width:100%;padding-bottom:33.33%}.modulo-social--twitter:last-child{margin-right:0}}.modulo-social--blog{background-color:#AEAEAE}#twitter__contenido{width:100%;height:100%;position:relative}.user img{display:none;visibility:hidden}#instagram__imagen{width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:cover}