blockquote {
  margin: 0 auto;
  & p {
	padding: 0 $espacio;
	margin: $espacio 0;
	font-style: italic;
	font-weight: $f-normal;
	}
  }

.tags__lista {
  padding: 0;
  margin: 0;
  }

.entrada {
  margin-bottom: $espacio-doble;
  &__header {
	@media #{$large-up}{
	  padding-right: $espacio;
	  width: 33.33%;
	  float: left;
	  }

	}
  &__contenido {

	overflow: hidden;



	figure {
	  width: 100% !important;
	  max-width: 100%;
	  }

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	  font-weight: $f-bold;
	  margin-top: $espacio-doble;
	  margin-bottom: $espacio;
	  }


	 ul, ol, li{
	  list-style: disc;
	  list-style-position: inside;
	  }

li{
  margin-bottom: 1rem;
  }



	}
  &__contenido--blog {
//	font-family: $f-serif;
//	line-height: 1.55;
	overflow: hidden;
//	font-size: .85rem;

	p, strong, b, em, li, ul {
//	  font-family: $f-serif;
	  //		line-height: 1.6rem;

	  }







	figure {
	  width: 100% !important;
	  max-width: 100%;
	  }

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	  font-weight: $f-bold;
	  margin-top: $espacio-doble;
	  margin-bottom: $espacio;

	  }

	}
  &__cover {
	padding-bottom: 50%;
	padding-bottom: 50vh;
	max-height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
	margin-top: -1rem;
	}
  &__titulo {
	font-weight: $f-bold;
	padding-bottom: 1rem;
	a {
	  color: $gris;
	  }
	}
  &__meta {
	list-style-type: none;
	margin-bottom: $espacio;
	}
  &__categoria {
	font-weight: $f-bold;
	text-transform: uppercase;
	letter-spacing: .06em;
	}

  }

