.blog {
  &__archivo {

	.entrada {
	  @media #{$medium-up}{
		@include span-columns(4);
		@include omega(3n);
		margin-bottom: 0;
		&:hover {
		  opacity: .85;
		  @include transicion(all);
		  }
		}
	  position: relative;
	  &__header {
		width: auto;
		}
	  &__titulo {
		padding-top: .5rem;
		min-height: $espacio*3;
		font-weight: $f-normal;
		width: auto;
		padding-bottom: 0;

		}
	  &__contenido {
		}
	  &__contenido--blog {
		width: 100%;
		}
	  &__cover {
		margin: 0;
		width: 100%;
		height: auto;
		padding-bottom: 66.66%;

		}
	  &__meta {
		width: auto;
		padding: 0;
		.tags-links {
		  margin: 0;
		  display: inline-block;
		  }
		}
	  &__categoria {
		font-weight: $f-bold;
		text-transform: uppercase;
		letter-spacing: .06em;
		}

	  }

	}
  }