.portada{
  &__cover{
	height: 100%;
	width: 100%;
	}
  &__contenedor{
	position: relative;
	display: block;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin: 0;
	background-size: cover;
	background-position: center;


	}
  }

