@import "utilidades/yiq-color-contrast";





.pseudo-link{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border: 0 !important;
}

.clear:after, .clear:before{
  content: ' ';
  display: block;
  clear: both;
  float: none;
}