/* Articulos destacados
========================================================================= */

.articulos-destacados { //ul
  list-style: none;

  @media #{$medium-up} {
	overflow: hidden;
	margin: 0;
  }
}

.articulo-destacado { //li
  list-style: none;
  overflow: hidden;
  margin: 1rem 0;
  position: relative;
&+&{
	border-top: 1px solid $gris-separadores;

  @media #{$medium-up} {
  border: none;
  }
}

  @include transicion(opacity);

  @media #{$medium-up} {
	position: relative;
	display: table-cell;
	width: 25%;
	vertical-align: top;
	background-color: white;
	border: none;


  }

  @each $categoria, $color in $categoria {
	&.#{$categoria} &__categorias {
	  @include yiq-contrasted($color);
	}
  }


  &:hover {
	@media #{$medium-up} {
	}
	@include transicion(all);
	& .articulo-destacado__foto {
	  //Esta transicion es la que le quita opacidad a la foto del articulo destacado dejando que se trasluzca el fondo de color
	  opacity: .8;
	  @include transicion(opacity);
	}
  }

  & a {
	border: none;
  }

  //Contenedor del articulo entero
  &__contenedor {
	text-align: left;
	@media #{$medium-up} {
	  text-align: center;
	  padding: 1rem;
	}
  }
  &__pseudo-link {
	@extend .pseudo-link;
  }

  &__media-wrapper {
	//Genera los colores de fondo de cada categoria
	position: relative;
	margin-right: $espacio;
	width: 128px;
	height: 128px;
	float: left;
	display: none;
	visibility: hidden;
	@media #{$medium-up} {
	  width: auto;
	  display: block;
	  visibility: visible;
	  visibility: visible;
	  height: auto;
	  float: none;
	}

	        @each $categoria, $color in $categoria {
	               &.#{$categoria} {
	                 background-color: $color;
	              }
	              }

  }



  /* Foto del articulo
     ========================================================================= */


  &__foto {
	float: none;
	margin-right: 1rem;
	//	margin-top: 1rem;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include transicion(opacity);




	@media #{$medium-up} {
	  display: block;
	  padding-bottom: 66%;
	  width: 100%;
	  float: none;
	  margin: 0 auto ;
	  overflow: hidden;
	  @include transicion(opacity);


	}

  }


  /*  Contenido
     ========================================================================= */


  &__contenido {
	overflow: hidden;
	  margin-top: 1rem;
	@media #{$medium-up} {
//	  margin: .3rem 1rem 0 1rem;
	  float: none;
	  overflow: hidden;
	}
  }



  /* Categorias
     ========================================================================= */


  &__categorias {
	margin: 0;
	display: inline;
	padding: .3rem;
	position: absolute;
	z-index: 5;
	left: 0;
	line-height: 1;
	font-size: .6rem;
	letter-spacing: 0.04rem;
	font-weight: $f-bold;
	text-transform: uppercase;
  }
  &__etiqueta + &__etiqueta {
	//	margin-left: .4rem;
	&:before {
	  content: ' & ';
	  font-weight: $f-normal;
	}
  }
  &__header {
  }
  &__titulo {
	margin: 0;
	font-size: ms(0);
	font-weight: $f-medium;
	line-height: $heading-line-height;
  }

  &__autor {
	font-size: ms(0);
//	margin-bottom: 1rem;
	font-weight: $f-normal;
	color: $color-primario;
  }

  &__resumen{
	display: none;
	visibility: hidden;
	@media #{$large-up} {
	  visibility: visible;
	  display: block;
	}
  }

  }
