/* Footer
   ========================================================================= */

.footer {
	margin-top: $espacio;
	padding: 1rem;
	//border-top: 1px solid $gris-separadores;
&__modulo{
	padding-bottom: $espacio;
	@media #{$medium-up}{
	@include span-columns(4);
}

	&--extendido{
	@media #{$medium-up}{
		@include span-columns(8);
	}

	}	
	

	ul, li{
		padding: 0;
		margin: 0;
	}
}
}