img.alignright,
a img.alignright, 
.wp-caption.alignright,
img.alignleft,
a img.alignleft,
.wp-caption.alignleft{
  margin-bottom: 1rem;
  @media #{$medium-up} {
    width: 50%;
    float: left;
    outline: 1rem solid white;

  } 

}

img.aligncenter,
a img.aligncenter,
.wp-caption.aligncenter{
  @media #{$medium-up} {
    width: 33.33%;
    float: left;
    outline: 1rem solid white;
  }
  margin-bottom: 1rem;

}



img.alignnone,
a img.alignnone,
.wp-caption.alignnone
{
  width: 100%;
  margin-bottom: 1rem;
}


/*Captions*/
.wp-caption {
  color: $gris;
  width: 100%;
  max-width: 100%;



  & .wp-caption-text {
    text-align: center;
	@extend small;
	font-weight: $f-bold;
	font-family: $f-sans;
  }




}


.wp-caption img {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

img{
  display: block;
  height: auto;
}

