.modulos-sociales{



//  @include background-image(linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(255,255,255,0) 100%));




  background-color: $gris-claro;
  padding: 1rem 0;

  }
.modulo-social{
  border-radius: 3px;
  @include transicion(all);
  &:hover{
	@include sombra-suave();
	@include transicion(all);
	};


  background-color: #fff;
  position: relative;
  padding-bottom: 66.66%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 1rem;

  @media #{$medium-only}{
	@include span-columns(6);
	@include omega(2n);
	padding-bottom: 48%;
  }
  @media #{$large-up}{
	margin-bottom: 0;
	padding-bottom: 31.8%;
  position: relative;
	overflow: hidden;

	@include span-columns(4);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  & ul{
	padding: 0;
	margin: 0;
	}

&__id{
//  @extend small;
//  font-weight: $f-bold;
//  text-transform: uppercase;
}

  &__imagen{

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	}
&__contenido{
&--con-fondo{
  z-index: 1;
  @include transicion(all);
  @include background(linear-gradient(top,  rgba(255,255,255,.9) 0%,rgba(255,255,255,0) 75%));
  }

  padding: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  a
  {color: $gris;
  }
  }

  &--twitter{
	@media #{$medium-only}{
	  @include span-columns(12);

	  padding-bottom: 33.33%;
	  }
	}
  &--blog{
  background-color:  $gris-medio;
  }
  }

//Esconder el avatar del widget de tiwtter
#twitter__contenido{
  width: 100%;
  height: 100%;
  position: relative;
//  & .tweet{
//	width: 66.66%;
//	float: left;
//
//	}
//  & .media{
//	@media #{$large-up}{
//	  display: none;
//	  visibility: hidden;
//
//	  }
//	@media #{$medium-only}{
//	  position: absolute;
//	  right: 0;
//	  top: -1.5rem;
//	  bottom: 1.5rem;
//	  width: 33%;
//	  overflow: hidden;
//
//	  text-align: center;
//	  }
//	img{
//	  max-height: 100%;
//	  display: inline-block;
//
//	  }
//	}
  }
.user img{
  display: none;
  visibility: hidden;
  }



#instagram__imagen{
@extend .modulo-social__contenido;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }