.nav-posteos {
	padding: $espacio*2 0;
  &__wrap{
	display: table;
	table-layout: fixed;
	width: 100%;
  }
  &__link{
	display: table-cell;
	width: 50%;
	&--izquierda{
	  text-align: left;
	}
	&--derecha{
	  text-align: right;
	}
  }

}