/* Barra de navegación
========================================================================= */

.sitio__header{
  height: 2.5rem;
  margin-bottom: $espacio;

@media #{$small-only}{
  height: auto;
  padding-bottom: $espacio;
@include transicion(all);
}
@include transicion(all);
  line-height: 2.5rem ;
  vertical-align: middle;
  width: 100%;
  z-index: 999999999;
  background-color: white;

  & .wrap{
   padding: 0 1rem;
   @include outer-container();

 }
}

.sitio__nombre {
  padding: 0;
  margin: 0;
  float: left;
  line-height: inherit;
  visibility: hidden;
  display: none;
  font-weight: $f-bold;
  @media #{$medium-up} {
    visibility: visible;
    display: block;
    @include span-columns(6);
  }
  
  &--short{
    font-weight: $f-bold;
    float: left;
    margin: 0;
    padding: 0;
    line-height: inherit;
    @media #{$medium-up} {
      visibility: hidden;
      display: none;
    }
  }
  
  & a, &--short a {
   color: $color-primario !important;
 }
}

.sitio__nav {
  @media #{$medium-up} {
  @include span-columns(6);
}

& div ul{
  margin: 0;
  padding: 0;
  text-align: right;


  li{
    padding: 0 0 0 .5rem ;
   @include transicion(all);
   a{
  }

  &:first-child{
    padding-left: 0;
  }

  @media #{$medium-up} {
    padding-left: 1.2rem;
    @include transicion(all);
  }

  display: inline-block;
@media #{$small-only}{
  display: block;
line-height: 1.5rem;
padding-top: .5rem;
li{
  padding:0;
}
}

}
}
}

.current-menu-item a{
color: $gris ;
}