.nav-categorias{
	padding-bottom: $espacio;
	@extend .clear;
	&__listado{
		li{
			@media #{$medium-up}{
			padding-right: $espacio;
			float: left;
		}
			}

		}


	}


.current-cat > a{
	color: $gris;
}
.current-cat-parent > a {
}
