
.grilla-portfolio{
	//margin: 0 -1rem;
//	@include outer-container();

	&__proyecto{
		position: relative;
		@include transicion(all);

		@media #{$medium-up}{
		@include span-columns(4);
		@include omega(3n);
		@include transicion(all);
		}

		&:hover{
			opacity: .85;
			@include transicion(all);	  }

			.proyecto{
				@include transicion(all);

				&__imagen{
					width: 100%;
					padding-bottom: 66.66%;
					background-size:cover;
					background-position: center;
					background-repeat: no-repeat;
					background-color: $gris-claro;
				}

				&__datos{
					padding-top: .5rem;
					min-height: $espacio*3;
					h1 a{
						color: $gris;
					}

					h1, h2{
						margin: 0;
					}
				}
			}
		}
	}

.todos-los-proyectos{
	text-align: center;
  width: 100%;
  clear: both;
  padding-bottom: $espacio;
}