.slider{
  position: relative;
&__wrap{
	position: relative;
	margin-top: -$espacio;
  @extend .contenedor;
}

	height: 280px;
	height: 80vh;
	@media screen and (min-height:640px){
	height: 400px;
		height: 80vh;
	}
	@media screen and (min-height:800px){
	height: 600px;
		height: 80vh;

	}

	&__item{
		height: 100%;
		width: 100%;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 999;

	}
	&__project-info{
		position: absolute;
		bottom: 15%;
		width: 100%;
		text-align: center;
		padding-right: 1rem;
		padding-bottom: .5rem;
		& h1{
			margin: 0;
			color: white;
			font-size: 4rem;
			font-weight: $f-bold;
			line-height: .85;
			letter-spacing: -.05em;
			@media screen and (max-height:640px){
				font-size: 2.5rem;
			}
		}
	}
}

.slides{
	height: 100%;
}