//Esquema cromático//
//$rojo: #CD3232; rojo viejo

$rojo: #dc291e;
$celeste: #00c0d3;

$gris: #333;
$gris-medio: #AEAEAE;
// $gris-claro : 	#f4f4f4;
// $gris-claro : 	#efefec;
$gris-claro: #f6f6f6;
$gris-separadores: #e5e5e5;
$links: $gris-medio;

//Colores por defecto//
$color-primario: $rojo;
$color-secundario: $celeste;

html {
  }