html, body{
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

img{
  margin:0;
  height: auto;
  max-width: 100%;

}


.seccion{
  padding: $espacio 1rem;
  display: block;
  overflow: hidden;
  clear: both;
  float: none;
  @include outer-container();
}




.sitio__footer, .contenedor{
@include outer-container();
padding: 0 1rem;
  }