fieldset {
  border: $base-border;
  margin: 0 0 ;
  padding: $espacio;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  border-top: none;
  border-bottom: 1px solid $gris-medio;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding: .1rem 0;
  transition: border-color;
  width: 100%;
  @include transicion(all);

  &:hover {
    border-color: $color-primario;
	@include transicion(all);
  }

  &:focus {
    outline: none;
	border-color: $color-primario;
@include transicion(all);

  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

input[type="file"] {
  width: 100%;
}


select {
  max-width: 100%;
  width: auto;
}


input[type="text"]+input[type="text"]{
  margin-bottom: 1rem;
  margin-top: 1rem;
}