@mixin sombra() {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
  }
@mixin sombra-suave() {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3), ;
  }

@mixin transicion($propiedad){
  $propiedad: all !default;
  transition: $propiedad .2s ease-in-out;
  }
