//Define el tamaño base de la tipografía

html {
  font-size: $base-font-size;
  }


// Cambiar el color de la selección
@include selection {
  background: $color-primario;
  color: #FFF;
  }

//Configuracion de la escala tipografia modular
$ms-base: 1rem;

body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $gris;
  font-family: $f-sans;
  line-height: $interlinea;
  font-size: $tipo__tamano-base;
  font-weight: $f-normal;
  word-wrap: break-word;
  overflow-x: hidden;
  letter-spacing: -.012em;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  }

//Calcular los tamaños de los titulares

$titulares: h6, h5, h4, h3, h2, h1;

@for $h from 1 through length($titulares) {

  #{nth($titulares, $h)}, .#{nth($titulares, $h)} {
	font-size: $tipo__tamano-base;
	font-family: $f-sans;
	font-weight: $f-normal;
  margin: 0;

	}
  }

//Variables de los titulares
ul, ol {
  padding: 0;
  list-style: none;
  }

a:link, &:visited {
  color: $links;
  text-decoration: none;
  @include transicion(color);
  &:hover,
  &:active,
  &:focus {
	text-decoration: none;
	color: $color-primario;
	@include transicion(color);
	outline: 0;
	}
  }

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $espacio 0;
  }

p {
  margin: 0 0 1rem 0;
  }
strong, b{
  font-weight: $f-bold;
  }

cite {
  //  font-family: $f-sans;
  font-weight: $f-bold;
  font-style: normal;
  &:before {
	content: "\2014";
	}
  }

small, .small{
  font-size: 0.66rem;
  line-height: 1.2;
}