

//Pilas tipográficas
$f-sans: Roboto, monospaced, Helvetica, Arial, sans-serif;
$f-serif: Merriweather, Georgia;
//Estructura

//Variables tipográficas
$f-normal: 300;
$f-bold: 500;

$tipo__tamano-base: 1rem;

$base-font-family: $f-sans;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 22px;

// Line height
$interlinea: 31px;
$espacio: $base-font-size * $interlinea / $base-font-size ;
$espacio-doble:  $base-font-size * $interlinea / $base-font-size*2 ;


// Border
$base-border-color: $gris-claro;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($color-primario, $lightness: -5%, $alpha: -0.3);
